---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout title="Reportes">
    <h1 class="text-4xl font-black text-center my-6">SELECCIONA LA SECCION</h1>
    <section
        class="grid max-w-[1980px] grid-cols-1 auto-rows-[23rem] mx-auto my-auto gap-5 p-6"
    >
        <a href="/reportsAlumbrado" class="relative rounded-3xl z-20 flex items-end">
            <div
                class="absolute rounded-3xl z-10 bottom-0 top-0 h-full w-full
  mix-blend-multiply bg-gradient-to-t from-[#AF2C09]"
            >
            </div>
            <div class="">
                <a href="/">Ver seccion</a>
                <div class="flex flex-col">
                    <p class="text-3xl font-black text-white z-20 px-5">CALLE A - CALLE B</p>
                    <h1 class="text-6xl font-black text-white z-20 p-5">SECCION 1</h1>
                </div>
            </div>
        </a>
        <a  href="/" class="relative rounded-3xl flex items-end">
            <div
                class="absolute z-10 rounded-3xl bottom-0 top-0 h-full w-full
  mix-blend-multiply bg-gradient-to-t from-black"
            >
            </div>
            <div class="flex flex-col">
                <p class="text-3xl font-black text-white z-20 px-5">CALLE B - CALLE C</p>
                <h1 class="text-6xl font-black text-white z-20 p-5">SECCION 2</h>
            </div>
        </a>
        <a href="/" class="relative rounded-3xl flex items-end">
            <div
                class="absolute z-10 rounded-3xl bottom-0 top-0 h-full w-full
  mix-blend-multiply bg-gradient-to-t from-black"
            >
            </div>
            <div class="flex flex-col">
                <p class="text-3xl font-black text-white z-20 px-5">CALLE C - CALLE D</p>
                <h1 class="text-6xl font-black text-white z-20 p-5">SECCION 3</h1>
            </div>
        </a>
        <a href="/" class="relative rounded-3xl flex items-end">
            <div
                class="absolute z-10 rounded-3xl bottom-0 top-0 h-full w-full
  mix-blend-multiply bg-gradient-to-t from-black"
            >
            </div>
            <div class="flex flex-col">
                <p class="text-3xl font-black text-white z-20 px-5">CALLE E - CALLE F</p>
                <h1 class="text-6xl font-black text-white z-20 p-5">SECCION 4</h1>
            </div>
        </a>
        <a href="/" class="relative rounded-3xl flex items-end">
            <div
                class="absolute z-10 rounded-3xl bottom-0 top-0 h-full w-full
  mix-blend-multiply bg-gradient-to-t from-black"
            >
            </div>
            <div class="flex flex-col">
                <p class="text-3xl font-black text-white z-20 px-5">CALLE F - CALLE G</p>
                <h1 class="text-6xl font-black text-white z-20 p-5">SECCION 5</h1>
            </div>
        </a>
        <a href="/" class="relative rounded-3xl flex items-end">
            <div
                class="absolute z-10 rounded-3xl bottom-0 top-0 h-full w-full
  mix-blend-multiply bg-gradient-to-t from-black"
            >
            </div>
            <div class="flex flex-col">
                <p class="text-3xl font-black text-white z-20 px-5">CALLE G - CALLE H</p>
                <h1 class="text-6xl font-black text-white z-20 p-5">SECCION 6</h1>
            </div>
        </a>
    </section>
</SectionLayout>
