---
import SectionLayout from "../layouts/SectionLayout.astro";
import SectionCard from "../components/SectionCard.astro";
---

<SectionLayout title="Reportes">
    <h1 class="text-4xl font-black text-center my-6">SELECCIONA LA SECCION</h1>
    <section class="grid max-w-[1980px] grid-cols-1 mx-auto my-auto gap-5 p-6">
        <SectionCard 
            title={"Seccion A"}
            street1={"Calle 1"}
            street2={"Calle 2"}
            color={"border-red-500"}
        />
        <SectionCard 
            title={"Seccion B"}
            street1={"Calle 2"}
            street2={"Calle 3"}
            color={"border-red-500"}
        />
        <SectionCard 
            title={"Seccion C"}
            street1={"Calle 3"}
            street2={"Calle 4"}
            color={"border-red-500"}
        />
        <SectionCard 
            title={"Seccion D"}
            street1={"Calle 4"}
            street2={"Calle 5"}
            color={"border-red-500"}
        />
        <SectionCard 
            title={"Seccion E"}
            street1={"Calle 5"}
            street2={"Calle 6"}
            color={"border-red-500"}
        />
    </section>
</SectionLayout>
