---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galeria de fotos">
    <section class="flex flex-col items-center gap-28 p-6">
        <p class="text-4xl  text-black font-black text-center mt-10 uppercase">Galeria Malecon</p>
        <p class="text-2xl  text-black font-black text-center mt-1 uppercase">Fotos tomadas por nuestros visitantes</p>
    </section>

    <div
        class="galery-container columns-1 sm:columns-2 md:columns-3 lg:columns-4 space-y-3 p-3"
    >
        <div
            class="hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        
            >
            <a href="#kios1">
            <img src="kios.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios2">
            <img src="sirena.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios3">
            <img src="perla.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios4">
            <img src="piedra.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios5">
            <img src="tiburon.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios6">
            <img src="img/image6.jpg" /></a>
        </div>

        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios7">
            <img src="sea2.jpg" /></a>
        </div>

        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios8">
            <img src="tardecer.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios9">
            <img src="img/image8.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios10">
            <img src="hotel.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios11">
            <img src="img/image10.jpg" /></a>
        </div>

        <div
        class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
    <a href="#kios12">
        <img src="sea.jpg" /></a>
    </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios13">
            <img src="farol.jpg " /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios14">
            <img src="blog.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios15">
            <img src="lp.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios16">
            <img src="whale.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios17">
            <img src="food.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios18">
            <img src="catedral.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios19">
            <img src="sun.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios20">
            <img src="sea.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios21">
            <img src="night.jpg" /></a>
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios22">
            <img src="sharki.jpg" /></a>
        </div>

        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios23">
            <img src="mirador.jpg" /></a>
        </div>

        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios24">
            <img src="fishers.jpg" /></a>
        </div>

        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
        <a href="#kios25">
            <img src="farol.jpg" /></a>
        </div>

        


    </div>
    <article class="light-box" id="kios1">
        <a href="" class="next"></a>
        <img src="kios.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios2">
        <a href="" class="next"></a>
        <img src="sirena.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios3">
        <a href="" class="next"></a>
        <img src="perla.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios4">
        <a href="" class="next"></a>
        <img src="piedra.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios5">
        <a href="" class="next"></a>
        <img src="tiburon.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios6">
        <a href="" class="next"></a>
        <img src="img/image6.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios7">
        <a href="" class="next"></a>
        <img src="sea2.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios8">
        <a href="" class="next"></a>
        <img src="tardecer.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios9">
        <a href="" class="next"></a>
        <img src="img/image8.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios10">
        <a href="" class="next"></a>
        <img src="hotel.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios11">
        <a href="" class="next"></a>
        <img src="img/image10.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios12">
        <a href="" class="next"></a>
        <img src="sea.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios13">
        <a href="" class="next"></a>
        <img src="farol.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios14">
        <a href="" class="next"></a>
        <img src="blog.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios15">
        <a href="" class="next"></a>
        <img src="lp.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios16">
        <a href="" class="next"></a>
        <img src="whale.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios17">
        <a href="" class="next"></a>
        <img src="food.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios18">
        <a href="" class="next"></a>
        <img src="catedral.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios19">
        <a href="" class="next"></a>
        <img src="sun.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios20">
        <a href="" class="next"></a>
        <img src="sea.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios21">
        <a href="" class="next"></a>
        <img src="night.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios22">
        <a href="" class="next"></a>
        <img src="sharki.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios23">
        <a href="" class="next"></a>
        <img src="mirador.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios24">
        <a href="" class="next"></a>
        <img src="fishers.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <article class="light-box" id="kios25">
        <a href="" class="next"></a>
        <img src="farol.jpg" alt="">
        <a href="" class="next"></a>
        <a href="" class="close">X</a>

    </article>

    <style>
        .light-box{
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.5);
            transition: transform .3s ease-in-out;
            width: 100%;
            height: 100vh;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center ;
            transform: scale(0);
        }

        .light-box img{
            width: 75vw;
            max-height: 70vh;
        }

        .light-box:target{
            transform: scale(1);
        }

        .close{
            display: block;
            position: absolute;
            top: 10;
            right: 0;
            text-align: center;
            color: aliceblue;
            text-decoration: none;
            width: 80px;
            height: 80px;
        }

    </style>
</Layout>
