---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galeria de fotos">
    <section class="flex flex-col items-center gap-28 p-6">
        <p class="text-4xl  text-black font-black text-center mt-10 uppercase">Galeria Malecon</p>
        <p class="text-2xl  text-black font-black text-center mt-1 uppercase">Fotos tomadas por nuestros visitantes</p>
    </section>

    <div
        class="galery-container columns-1 sm:columns-2 md:columns-3 lg:columns-4 space-y-3 p-3"
    >
        <div
            class="hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="kios.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="sirena.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="perla.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="piedra.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="tiburon.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="img/image6.jpg" />
        </div>

        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="sea2.jpg" />
        </div>

        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="tardecer.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="img/image8.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="hotel.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="img/image10.jpg" />
        </div>

        <div
        class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
        <img src="sea.jpg" />
    </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="farol.jpg " />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="blog.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="lp.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="whale.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="food.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="catedral.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="sun.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="sea.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="night.jpg" />
        </div>
        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="sharki.jpg" />
        </div>

        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="mirador.jpg" />
        </div>

        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="fishers.jpg" />
        </div>

        <div
            class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
        >
            <img src="farol.jpg" />
        </div>
    </div>
</Layout>
