---
import SectionLayout from "../layouts/SectionLayout.astro"

---

<SectionLayout title="Historicos">
  <h1 class="text-center font-black text-4xl my-8">Todo sobre las estatuas del Malecon</h1>
</SectionLayout>
