---
import BentoArea from '../components/BentoArea.astro';

import Layout from '../layouts/Layout.astro';

---

<Layout title="Malecon La Paz BCS.">
	<main class="mx-auto">
		<header>
			<img class="mx-auto" src="/logos_header.png" alt="">
		</header>
		<BentoArea/>
	
	</main>
</Layout>
