---
import BentoArea from '../components/BentoArea.astro';
import FechaHora from '../components/FechaHora.astro';
import Layout from '../layouts/Layout.astro';
import Historical from './historical.astro';
---

<Layout title="Malecon La Paz BCS.">
	<main class="mx-auto">
		<header>
			<img class="mx-auto" src="/logos_header.png" alt="">
		</header>
		<BentoArea/>
		<FechaHora />
	
	<slot>
	</main>
</Layout>
