---
import BentoArea from "../components/BentoArea.astro";
import BentoCard from "../components/BentoCard.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Malecon La Paz BCS.">
	<main class="m-auto p-14 h-screen" style="background-color: #FFFDD2">
		<header class="">
			<div class="mx-auto text-center mb-4 lg:-mb-16">
				<img class="m-auto mb-8" src="/header.jpg" alt="" />
				<h1
					class="m-11 font-bold w-65 mx-auto"
					style="font-size: 64px;"
				>
					KIOSCO CENTRAL DE LA PAZ
				</h1>

                <h2 class="m-12 font-semibold w-65 mx-auto"
                style="font-size: 34px;" >

                Los kioscos centrales del malecon son un proyecto realizado para el publico desarrollado y lanzado
                por parte del gobierno del estado de Baja California Sur y colaborado por la Administración Puertuaria Internacional
                , el objetivo principal de su uso es recabar información para mantener el malecon en las condiciones lo más impecable 
                para la comunidad turistica y la sociedad del nuestro estado, asi como tambien aportar información y datos del malecon 
                del estado que puedan conocer y aprender los turistas que conocen nuestras tierras, apoyando tambien ciertas areas importantes 
                como ubicación, información de monumentos, opiniones públicas de los civiles y más.
                </h2>

                
				
			
				
				<a class="bg-[#10312B] px-[5rem] py-6 text-xl  text-white rounded-lg" href="start"> REGRESAR </a>
			</div>
		</header>
	</main>
</Layout>