---
import SectionLayout from "../layouts/SectionLayout.astro";
import MapComponent from '../components/MapComponent.jsx';
---

<SectionLayout title="Mapa de la ciudad">
    <h1 class="text-center m-6 text-4xl font-black">MAPA DE LA CIUDAD</h1>
    <MapComponent/>
    
</SectionLayout>
