---
import QuestionsLayout from "../layouts/QuestionsLayout.astro"
---

<QuestionsLayout title="Encuesta">
<div class="h-screen flex flex-col gap-60">
    <section class="flex flex-col items-center gap-28 p-6">
       <p class="text-4xl  text-black font-black text-center mt-10 uppercase">Tu opinion nos importa</p>
        <article>
            <h1 class="text-6xl font-black text-black text-center">Como consideras la limpieza del Malecon?</h1>
            <form action="" class="flex justify-around mt-28">  <!-- TODO: Enviar al Backend -->
                <div>
                    <label class="cursor-pointer text-center" for="mala">
                        <img src="public/enojado.gif" alt="" class="w-36 h-36 brightness-100 mix-blend-multiply">
                        <input class="invisible" type="radio" name="limpieza" id="mala" value="mala">
                        <p class="text-2xl font-bold">MALA</p>
                    </label>
                </div>
                <div>
                    <label class="cursor-pointer text-center" for="regular">
                        <img src="public/neutral.gif" alt="" class="w-36 h-36 mix-blend-multiply">
                        <input class="invisible" type="radio" name="limpieza" id="regular" value="regular">
                        <p class="text-2xl font-bold">MEDAIGUAL</p>
                    </label>
                </div>
                <div>
                    <label class="cursor-pointer text-center" for="buena">
                        <img src="public/contento.gif" alt="" class="w-36 h-36 mix-blend-multiply">
                        <input  class="invisible"type="radio" name="limpieza" id="buena" value="buena">
                        <p class="text-2xl font-bold">BUENA</p>
                    </label>
                </div>
            </form>
        </article>
    </section>

    <footer class="flex flex-col items-center gap-24">
        <span>
            <p class="text-5xl font-black">1/5</p> <!--TODO: Cambiar por el numero de la pregunta -->
        </span>
        <div class="flex w-full justify-around gap-36">
            <a href="/" class="bg-red-950 text-3xl font-bold text-white py-6 px-20 rounded-2xl uppercase">Salir</a>
            <a href="/" class="bg-black text-3xl font-bold text-white py-6 px-20 rounded-2xl uppercase">Omitir</a> <!-- TODO: Omitir pregunta y avanzar -->
        </div>
    </footer>
</div>
</QuestionsLayout>


<!-- Descomentar para probar jeje -->
<!-- <script>
    const regular = document.getElementById('regular');

    regular.addEventListener('click', () => {
        regular.parentElement.querySelector('img').classList.add('w-screen');

    });
    
</script> -->