---
import Layout from '../layouts/Layout.astro'

---

<Layout title="Encuesta">

    <section transition:name="questions" class="h-screen text-center">
        <header class="text-center">
            <h1 class="text-5xl font-black text-black font-sans uppercase text-balance">ENCUESTA</h1>
            <p class="text-xl font-medium text-black mt-1 mb-4">Tu opinion es muy importante para nosotros</p>
        </header>
    </section>

</Layout>