---
import SectionLayout from "../layouts/SectionLayout.astro";
---



<SectionLayout title="Problemas de Alumbrado">
    <section class="text-center my-6">
        <h1 class="font-black text-5xl ">
            Problemas de Alumbrado
        </h1>

        <h2 class="font-medium text-2xl">
            Elija el problema a reportar
        </h2>
    </section>
    <section class="grid grid-cols-3 max-w-[1800px] gap-8 p-5">
        <article class="p-10 bg-slate-300 ">
            <h1>PROBLEMA #1</h1>
        </article>

        <article class="p-10 bg-slate-300 ">
            <h1>PROBLEMA #1</h1>
        </article>

        <article class="p-10 bg-slate-300 ">
            <h1>PROBLEMA #1</h1>
        </article>

        <article class="p-10 bg-slate-300 ">
            <h1>PROBLEMA #1</h1>
        </article>

        <article class="p-10 bg-slate-300 ">
            <h1>PROBLEMA #1</h1>
        </article>

        <article class="p-10 bg-slate-300 ">
            <h1>PROBLEMA #1</h1>
        </article>

        <article class="p-10 bg-slate-300 ">
            <h1>PROBLEMA #1</h1>
        </article>
    </section>
</SectionLayout>