---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout title="Reportes">
    <h1 class="text-4xl font-black text-center my-6">GENERA TU REPORTE</h1>
    <h1 class="text-2xl font-black text-center">Selecciona el tipo de reporte que deseas hacer</h1>
    <h2 class="text-center mt-24">En mantenimiento🔨🛠
    </h2>
</SectionLayout>
