---
import BentoArea from '../components/BentoArea.astro';

import Layout from '../layouts/Layout.astro';

---

<Layout title="Malecon La Paz BCS.">
	<main class="m-auto p-14" style="background-color: #FFFDD2" >
		<header class="">
			<div class="mx-auto text-center mb-4 lg:-mb-16">
				<img class="m-auto mb-8  " src="/header.jpg" alt="">
				<h1 class="-m-11 font-bold w-65 mx-auto" style="font-size: 24px;">KIOSCO CENTRAL DE LA PAZ</h1>
				
				
			</div>
		
		</header>
		<BentoArea/>
	
	</main>
</Layout>