---
import SectionLayout from "../layouts/SectionLayout.astro";
import Questions from "../components/Questions";

---
<SectionLayout title="Encuesta">
    <div class="-backdrop-hue-rotate-90 flex flex-col gap-20 items-">
        <Questions client:only/>
    </div>
</SectionLayout>
