---
import BentoCard from "./BentoCard.astro";
---

<main
  class="max-w-[1600px] text-white grid grid-cols-10 auto-rows-[20rem] gap-2 mx-auto my-auto"
>
  <BentoCard
    href="questions"
    class="col-span-3"
    title="ENCUESTA"
    description="Tu opinión es muy importante para nosotros"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
    h-full bg-center bg-cover bg-no-repeat
    bg-blend-luminosity -z-10"
      style="background-color:#10312B"
    >
    </figure>
  </BentoCard>

  <BentoCard
    href="questions"
    class="col-span-3"
    title="REPORTES"
    description="Si ves algo que no está bien, repórtalo aqui"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
  h-full bg-center bg-cover bg-no-repeat
  bg-blend-luminosity -z-10"
      style="background-color: #BC955C"
    >
    </figure>
  </BentoCard>

  <BentoCard
    href="map"
    class="col-span-4"
    title="MAPA DE LA CIUDAD"
    description="Localiza los distintos lugares de la ciudad"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
    h-full bg-center bg-cover bg-no-repeat
    bg-blend-luminosity -z-10"
      style="background-color: #9F2241"
    >
    </figure>
  </BentoCard>

  <BentoCard
    href=""
    class="col-span-6"
    title="MONUMENTOS HISTORICOS DEL MALECON"
    description="Descubre los lugares interesantes del Malecón de La Paz."
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
  h-full bg-center bg-cover bg-no-repeat
  bg-blend-luminosity -z-10"
      style="background-color: #691C32"
    >
    </figure>
  </BentoCard>

  <BentoCard
    href=""
    class="col-span-4"
    title="GALERIA MULTIMEDIA"
    description="Descubre los lugares interesantes del Malecón de La Paz."
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
        h-full bg-center bg-cover bg-no-repeat
        bg-blend-luminosity -z-10"
      style="background-color: #691C32"
    >
    </figure>
  </BentoCard>
</main>
