---
import BentoCard from "./BentoCard.astro";
---

<main
  class="max-h-[1600px] text-white grid grid-cols-6 auto-rows-[21rem] gap-3 p-6 mx-auto my-auto"
>
  <BentoCard
    href="questions"
    class="col-span-4"
    title="ENCUESTA"
    description="Tu opini칩n es muy importante para nosotros"
    gradient="to-t from-[#10312B] to-transparent"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
    h-full bg-center bg-cover bg-no-repeat
    bg-blend-luminosity -z-10"
      style="background-image: url('survey_img.jpg')"
    >
    </figure>
  </BentoCard>

  <BentoCard
    href="reports"
    class="col-span-2"
    title="REPORTES"
    description="Si ves algo que no est치 bien, reportalo"
    gradient="to-t from-[#BC955C] to-transparent"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
  h-full bg-center bg-cover bg-no-repeat
  bg-blend-luminosity -z-10"
      style="background-image: url('report_img.jpeg')"
    >
    </figure>
  </BentoCard>

  <BentoCard
    href="historical"
    class="col-span-3"
    title="HISTORICOS"
    description="Conoce sobre la historia del Malec칩n."
    gradient="to-t from-[#691C32] to-transparent"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
  h-full bg-center bg-cover bg-no-repeat
  bg-blend-luminosity -z-10"
      style="background-image: url('Malecon nocturno.jpg')"
    >
    </figure>
  </BentoCard>

  <BentoCard
    href="https://maps.app.goo.gl/SwQchvvfyHP6pQXD7"
    class="col-span-3"
    title="MAPA DE LA CIUDAD"
    description="Conoce nuestra ciudad"
    gradient="to-t from-[#10312B] to-transparent"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
    h-full bg-center bg-cover bg-no-repeat
    bg-blend-luminosity -z-10"
      style="background-image: url('map_img.jpg')"
    >
    </figure>
  </BentoCard>

  <BentoCard
  href="galery"
  class="bg-gray-200 rounded-2xl col-span-6 overflow-hidden text-2xl-bold mb-2"
  title="GALERIA MULTIMEDIA"
  description="Descubre los lugares interesantes del Malec칩n de La Paz."
  gradient="to-t from-[#404040] to-transparent"
>
  <figure
    slot="image"
    class="absolute left-0 top-0 bottom-0 w-full
      h-full bg-center bg-cover bg-no-repeat
      bg-blend-luminosity -z-10"
    style="background-image: url('turista.jpg')"
  >
  </figure>
</BentoCard>
</main>
