---
import BentoCard from "./BentoCard.astro";
---

<main
  class="max-h-[1600px] text-yellow-400 grid grid-cols-6 auto-rows-[44rem] gap-3 p-6 mx-auto my-auto"
>
  <BentoCard
    href="survey"
    class="col-span-3"
    title="te escuchamos"

    description="Tu opinión es muy importante para nosotros."
    gradient="to-t from-[#10312B] to-transparent"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
    h-full bg-center bg-cover bg-no-repeat
    bg-blend-luminosity -z-10"
      style="background-image: url('encuesta4.png')"
    >
    </figure>
  </BentoCard>

  <BentoCard
    href="reports"
    class="col-span-3"
    title="AVISANOS"
    description="Si ves algo que no está bien, reportalo."
    gradient="to-t from-[#BC955C] to-transparent"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
  h-full bg-center bg-cover bg-no-repeat
  bg-blend-luminosity -z-10"
      style="background-image: url('report.webp')"
    >
    </figure>
  </BentoCard>

  <BentoCard
    href="historical"
    class="col-span-3"
    title="ECOS DEL MAR"
    description="Explorando la historia del Malecón Costero."
    gradient="to-t from-[#691C32] to-transparent"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
  h-full bg-center bg-cover bg-no-repeat
  bg-blend-luminosity -z-10"
      style="background-image: url('Malecon nocturno.jpg')"
    >
    </figure>
  </BentoCard>

  <BentoCard
    href="map"
    class="col-span-3"
    title="GUIA del malecon"
    description="Explora el Malecon de La paz con nuestro mapa interacitvo."
    gradient="to-t from-[#10312B] to-transparent"
  >
    <figure
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
    h-full bg-center bg-cover bg-no-repeat
    bg-blend-luminosity -z-10"
      style="background-image: url('malecon2.jpg')";
    >
    </figure>
  </BentoCard>

  <BentoCard
  href="galery"
  class="bg-gray-200 rounded-2xl col-span-6 overflow-hidden text-2xl-bold min-h-[55rem]"
  title="HAS TU GALERIA "
  description="Disfruta y comparte las maravillas fotográficas de tu Malecón."
  gradient="to-t from-[#404040] to-transparent"
>

  <figure
    id="carouselImage"
    slot="image"
    class="absolute left-0 top-0 bottom-0 w-full
      h-full bg-center bg-cover bg-no-repeat
      bg-blend-luminosity -z-10"
    style="transition: background-image 0.5s ease-in-out; background-image: url('turista.jpg')"
  >
  </figure>
</BentoCard>

<script>
  const images =['whale.jpg','sea.jpg','sea2.jpg', 'turista.jpg'];
  let currentIndex = 0;
  const carouselImage = document.getElementById('carouselImage');
  
  function changeImage() {
    carouselImage.style.backgroundImage = `url('${images[currentIndex]}')`;
    currentIndex = (currentIndex + 1) % images.length; 
  }

  setInterval(changeImage, 4000);

</script>
</main>
