---
interface Props {
  title?: string;
  description?: string;
  class?: string;
}

const { title, description} = Astro.props;
---

<section
  class={`${Astro.props.class} col-span-5 relative rounded-xl backdrop-blur-md border-2 shadow-inner shadow-black/30 overflow-hidden group`}
>

<div class="
  absolute z-10 bottom-0 top-0 h-full w-full
  bg-gradient-to-b from-transparent via-black/5 to-black/30
"></div>

<slot name="image" />

<div class="relative select-none flex flex-col justify-end gap-1 p-[0.78rem] text-lg z-20 h-full">
  <h2 class="text-5xl font-black text-white font-sans uppercase text-balance mb-2">{title}</h2>
  {description && <h3 class="text-xl font-semibold max-w-[33rem] text-white -mt-3 mb-4">{description}</h3>}
  
  <slot name="content" />
</div>

</section>
