---
console.log('javascript');

---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-2 lg:mb-16">
        <img class="m-auto " src="/logotipo.png" alt="">
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
       Administración Puertuaria Internacional
       
       
        </p>
    </div>

</header>