---
interface Props {
	title: string;
}
import FechaHora from '../components/FechaHora.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	
		</header>
		<body class="bg-[rgb(226,237,72)]"></body>

		<header class="flex justify-around items-center ml-20 mb-4 pt-14">
			<img class="m-auto w-[480px]" src="/bcs_logo.png" alt="" />
			<FechaHora />
			<img class="m-auto mt-08 w-[325px]" src="/api_logo.png" alt="" />
		</header>
		
<main>
	<slot />
</main>
	
	</body>
	
</html>