---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#FFFDD2]">

		<header class="flex justify-around items-center my-12">
			<img class="m-auto w-[350px]" src="/api_logo.png" alt="" />
			<div class="text-center mt-5">
				<p class="text-7xl font-black">12:00:18 P.M.</p>
				<p class="text-2xl">Miercoles 24 de Enero 2024</p>
			</div>
			<img class="m-auto mt-10 w-[350px]" src="/bcs_logo.png" alt="" />
		</header>

		<slot />
	</body>
</html>
