---
interface Props {
	title: string;
}
import FechaHora from '../components/FechaHora.astro';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
		<body class="bg-gray-400">

		
		

		<header class="relative flex items-center mb-4 pt-14 w-full">
			<img class="absolute left-4 md:left-8 w-[140px] md:w-[180px] lg:w-[220px]" src="/bcs_logo.png" alt="Logo BCS" />
			<div class="flex-1 flex justify-center">
				<div class="scale-110 md:scale-125">
					<FechaHora />
				</div>
			</div>
			<img class="w-[120px] md:w-[160px] lg:w-[200px] mr-4 md:mr-8" src="/api_logo.png" alt="Logo API" />
		</header>


		<slot />
	</body>
</html>