---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[rgb(200,40,73)]">

		<header class="flex justify-around items-center p-2">
			<img class="m-auto mt-8 w-[480px]" src="/bcs_logo.png" alt="" />
			
			<div class="text-center mt-5">
				<p class="text-3xl font-black">10:11 P.M.</p>
				<p class="text-xl">Jueves 07 de noviembre 2024</p>
			</div>
			<img class="m-auto w-[325px]" src="/api_logo.png" alt="" />
		</header>


		<slot />
	</body>
</html>